@use 'variables' as *;

@mixin container {
  max-width: calc(#{$container-width} + var(--container-padding-x, 96px) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x, 96px);
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: 375.98px) {
    @content;
  }
}

@mixin d-flex($justify: start, $align: stretch) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin p-absolute ($width: 100%, $height: auto, $left-or-right: 'left', $top-or-bottom: 'top', $horizontal-value: 0, $vertical-value: 0) {
    position: absolute;
    width: $width;
    height: $height;
    #{$left-or-right}: $horizontal-value;
    #{$top-or-bottom}: $vertical-value;
}

@mixin button-base ($height: 63px, $padding-inline: 27px, $font-size: 18px, $font-weight: 700, $color: $color-purple, $border: none) {
    display: inline-flex;
    height: $height;
    align-items: center;
    padding-inline: $padding-inline;
    font: {
        weight: $font-weight;
        size: $font-size;
    }
    text-decoration: none;
    line-height: 1.5;
    background-color: $color;
    border: $border;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        background-color: darken($color, 10%);
    }

    @include tablet {
      padding-inline: 19px;
      font-size: 13px;
      height: 45px;

      &:hover {
        background-color: $color-purple;
      }

      &:active {
        background-color: darken($color, 10%);
      }
    }

    @include mobile {
      padding-inline: 17px;
    }
}