$color-light: #F9F9F9;
$color-grey: #CBCBCB;
$color-purple: #6C5FBC;
$color-dark: #000000;

$color-purple-hover: #7f70de;
$color-purple-light: #d1caff;
$color-grey-dark: #606060;
$color-grey-medium: #676767;
$color-grey-light: #ACADB9;

$font-family-base: 'Inter', sans-serif;
$font-family-accent: 'Poppins', sans-serif;

$border: 1px solid $color-purple;

$container-width: 1250px;
$container-padding-x: 95px;

$transition-duration: 0.2s;