@use '../utils' as *;

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    line-height: 26.7px;
    font: {
        family: $font-family-base;
        size: 18px;
        weight: 500;
    };
    background-color: $color-light;
}

a,
button,
input,
textarea, 
svg * {  /*все дочерние элементы внутри svg*/
    transition-duration: $transition-duration;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.body-wraper {
    overflow: hidden;
    width: 100%;
}
