@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: 800; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-Medium.woff2') format('woff2');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-SemiBold.woff2') format('woff2');
  font-weight: 600; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-ExtraBold.woff2') format('woff2');
  font-weight: 800; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Italic.woff2') format('woff2');
  font-weight: 400; 
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PublicSans';
  src: url('../../fonts/PublicSans-Bold.woff2') format('woff2');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/Quicksand-Medium.woff2') format('woff2');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}